*{
margin:0;
padding:0; 
 text-align: center;
  justify-content:center;   
}

h1{
  color:brown;
 
}

body{
 background-color:burlywood;
 text-align:center;
 font-size:3rem;
  justify-content: center; 
  align-items: center;
background-size: cover;
background-position: center;
}

.calcBox {
  margin-top: 100px;
  padding: 20px;
  display:flex;
  align-items: center;
  flex-direction: column;
}

input, select {
  height: 30px;      
  width: 200px;      
  border: 4px solid black;  
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s ease;
}

input:hover{
  background-color: rgba(170, 0, 255, 0.227);
}

button {
  height: 35px;
  width: 120px;
  background-color: magenta;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color:deeppink;
}

button:active{
   background-color: darkred;   
      transform: scale(0.95);      
      box-shadow: 0 2px 5px rgba(0,0,0,0.3) inset;
}

